.home
  width 100%
  height 100%
  overflow hidden
  transition background 4s
  @keyframes clarity-animation
    0%
      opacity 1
    50%
      opacity 0.5
    100%
      opacity 1
  .clarity
    position fixed
    width 100%
    height 100%
    background-image radial-gradient(circle at top left, #fff -26%, transparent 43%)
    animation clarity-animation 2s 1s infinite linear
    // opacity .1 
  .top
    display flex
    justify-content space-between
    .weather
      z-index 10
      position relative
      top 20px
      left 20px
      font-size 1.5rem
      font-weight 100
    .place
      z-index 10
      position relative
      top 20px
      right 20px
      font-size 1.5rem
      font-weight 100
  .center
    height 100%
    display flex
    align-items center
    justify-content center
    margin-top -20px
    .text
      z-index 10
    .datetime
      font-family "Roboto script=all rev=1", "Adobe Blank"
      font-weight 100
      text-align center
      font-size 1rem
      margin-bottom 1rem
    .content
      text-align center
      font-size 1.5rem
      margin-left 2rem
      margin-right 2rem
      line-height 2rem
      font-weight 100
  .background
    position absolute
    height 100%
    width 100%
    top 0px