.timeline-weather
  .search
    border solid 1px
    margin 10px
  .items
    margin 10px
    .item
      margin-top 10px
      border solid 1px 
      .sky-image
        width 100px
        height 100px
