.timeline-manage
  .timeline-input
    h2
      font-size 2rem
    margin 10px
    border solid 1px
    .sky-image
      height 100px
      width 100px
  .timeline-item
    margin 10px
    border solid 1px
    .sky-image
      height 100px
      width 100px