.cloud-container
  .cloud-type-1
    background-image url("../../../assets/weather/cloud.svg")
  .cloud-type-2
    background-image url("../../../assets/weather/cloud3.svg")
  .cloud
    position absolute
    background-repeat no-repeat
    background-size 100% 100%
    margin 20px
    width 300px
    height 150px
    