$timelineBarWidth = 800px
$timelineBarInnerWidth = calc(800px - 100px)
$height = 30px

.timeline-control
  position relative
  margin 0 auto
  height 30px
  color white
  z-index 10
  width 100%
  display flex
  .margin
    width 20px
  .margin-8px
    width 8px
  .left
    z-index 10
    height $height
    width $height
    border none
    background none
    padding 0
    svg
      width 20px
      height 20px
    @media (min-width 1000px)
      opacity 0
  .right
    z-index 10
    height $height
    width $height
    border none
    background none
    padding 0
    svg
      width 20px
      height 20px
    @media (min-width 1000px)
      opacity 0
  .timeline-bar-control
    flex 1
    margin 0 auto
    width 75%
    height $height
    position relative
    overflow hidden
    .timeline-bar
      height $height
      transition transform .3s linear
      display flex
      width $timelineBarWidth
      margin 0 auto
      .start-text
        margin-right 10px
        p
          font-family 'Lato', sans-serif
          font-size .88rem
          font-weight 700
          text-align right
      .start-bar
        position relative
        border-left 3px solid white
        top 7px
        height 16px
      .middle-bar
        position relative
        width $timelineBarInnerWidth
        flex none
        .bar
          width $timelineBarInnerWidth
          position absolute
          top 14px
          border-top 1px solid white
        .month-bar
          position absolute
          border-left 1px solid white
          height 7px
          top 8px
        .month-text
          position absolute
          height 12px
          top 14px
          left 2px
          font-size 0.8rem
        .time-point-button
          position absolute
          height $height
          width $height
          border none
          background none
          padding 0
          .time-point
            background white
            border solid 1px rgb(155,155,155)
            border-radius 6px
            top 9px
            width 10px
            height 10px
      .end-bar
        position relative
        border-left 3px solid white
        top 7px
        height 16px
      .end-text
        margin-left 10px
        padding-top 7px
        p
          font-family 'Lato', sans-serif
          font-size .8rem
          font-weight 700
          text-align right