$timelineBarWidth = 800px
$timelineBarInnerWidth = calc(800px - 100px)
$height = 30px

.timeline-control
  position relative
  margin 0 auto
  height 30px
  color white
  z-index 10
  width 100%
  display flex
  .arrow-left
    margin 0 auto
    height 50px
    border none
    background none