.cloud2layer-layer
  margin-top 10px
  position fixed
  width 100%
  height 100%
  
  @keyframes cloud2layer-ani
    from
      transform translate(-164px, 0px)
    to
      transform translate(0px, 0px)

  @keyframes cloud2layer-ani-size2
    from
      transform translate(-246px, 0px)
    to
      transform translate(0px, 0px)
      
  @keyframes cloud2layer-ani-size3
    from
      transform translate(-328px, 0px)
    to
      transform translate(0px, 0px)

  .cloud2layer-item
    background-image url('../../../assets/weather/cloud-cloudy-body2.svg')
    background-size auto
    width 150%
    height 180px
    border-style none

  .cloud2layer-item-size2
    background-image url('../../../assets/weather/cloud-cloudy-body2.svg')
    background-size auto
    width 150%
    height 270px
    border-style none

  .cloud2layer-item-size3
    background-image url('../../../assets/weather/cloud-cloudy-body2.svg')
    background-size auto
    width 150%
    height 360px
    border-style none