.overcast-layer
  position fixed
  width 100%
  height 100%
  
  @keyframes overcast
    from
      transform translate(-164px, 0px)
    to
      transform translate(0px, 0px)

  @keyframes overcast-size2
    from
      transform translate(-246px, 0px)
    to
      transform translate(0px, 0px)

  @keyframes overcast-size3
    from
      transform translate(-328px, 0px)
    to
      transform translate(0px, 0px)

  .overcast-item
    background-image url('../../../assets/weather/cloud-cloudy-body.svg')
    background-size auto
    width 150%
    height 180px
    border-style none

  .overcast-item-size2
    background-image url('../../../assets/weather/cloud-cloudy-body.svg')
    background-size auto
    width 150%
    height 270px
    border-style none

  .overcast-item-size3
    background-image url('../../../assets/weather/cloud-cloudy-body.svg')
    background-size auto
    width 150%
    height 360px
    border-style none