.star-layer
  margin-top 10px
  position fixed
  width 100%
  height 100%

  @keyframes star-ani1
    0%
      opacity 0
    30%
      opacity .1
    40%
      opacity .7
    60%
      opacity .7
    70%
      opacity .1
    0%
      opacity 0
  
  .star-container
    width 150%
    margin-top 50px
    margin-left 25px
    .star-item
      display inline-block
      img
        opacity 0
        width 12px
        height 11px