@import '../node_modules/jeet/jeet'
@import '../node_modules/nib'
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


global-reset();
// debug();


html, body
  font-family 'Noto Sans KR', sans-serif
  height 100%
  width 100%
  overflow hidden

#boot
  height 100%
  width 100%